.example {
    position: relative;
    width: 100%;
    max-width: relative;
    margin: auto;
    display: flex;
    width: 100%;
    background-color: yellow;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    display: block;
  }

  
  
  .overlay-text {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    
    padding: 30px;
    border-radius: 10px;
  }
  

  
  